@import url('https://fonts.googleapis.com/css?family=Open+Sans|Stoke&display=swap');

h1 {
  font-family: 'Stoke', serif !important;
  font-weight: 900 !important;
  font-style: regular !important;
}

h2 {
  font-family: 'Stoke', serif !important;
  font-weight: 700 !important;
  font-style: light !important;
}

p {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 700 !important;
  font-style: light !important;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  font-style: regular !important;
}
